body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 19px;
    font-weight: 300;
    
    background-repeat: no-repeat;
    background-size: cover;
    

}
.navbar navbar-default
{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.titulo
{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	
}
